@use "sass:map";
@import "variables";

.bg-top-img {
  position: fixed;
  top: 0;
  left: 0;
}

.bg-bottom-img {
  position: fixed;
  bottom: 0;
  right: 0;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  //outline: 3px solid red;
  display: flex;
}

.content {
  //outline: 3px solid orange;
  padding: 7.5% 10%;
  display: block;

  /* TOP CONTENT */

  .content-top {
    display: flex;
    //outline: 3px solid orchid;
    position: relative;
    align-items: center;
    padding: 2rem 0;
    .summary {
      width: 50%;
      flex: 0.75;
      //outline: 3px solid blue;
      box-sizing: border-box;
      text-align: left;
      @include theme-font("normal");
      h1 {
        margin: 0 0 5% 0;
        color: $magenta-dark;
        font-size: 40px;
      }
      p {
        margin: 0;
        color: $dark-gray-magenta;
        font-size: 14px;
        line-height: 1.5rem;
      }
    }

    .content-top-filler {
      flex: 0.2;
    }

    .ratings {
      //outline: 3px dashed aqua;
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      flex: 1 1 0;
      .rating-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1.5% 0;
        padding: 3.5% 5%;
        border-radius: 5px;
        background-color: $light-gray-magenta;
        z-index: 2;
        @include theme-font('bold');
        color: $magenta-dark;
        font-size: 13px;
        width: 70%;
        img {
          margin-right: 5px;
        }

        @media all and (device-width > 375px) {
          img:nth-of-type(5) {
            margin-right: 1.5rem;
          }
        }
      }

      @media all and (device-width > 375px) {
        div:nth-of-type(1) {
          transform: translateX(-20%);
        }
        div:nth-of-type(2) {
          transform: translateX(-10%);
        }
      }
    }
  }

  /* BOTTOM CONTENT */
  .content-bottom {
    //outline: 1px dotted blueviolet;
    display: grid;
    grid-template-areas: "colton irene anne";
    column-gap: 2rem;
    padding: 2rem 0;

    .testimonial {
      //outline: 1px dotted green;
      background-color: $magenta-dark;
      padding: 2.5rem 2rem;
      border-radius: 10px;
      &:nth-child(1) { grid-area: colton; }
      &:nth-child(2) {
        grid-area: irene;
        @media all and (device-width > 375px) {
          transform: translateY(7.5%);
        }
      }
      &:nth-child(3) {
        grid-area: anne;
        @media all and (device-width > 375px) {
          transform: translateY(15%);
        }
      }

      .persona {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        margin-bottom: 1.5rem;
        img {
          width: 2.5rem;
          border-radius: 50%;
          margin-right: 1.5rem;
        }
        .name {
          @include theme-font("bold");
          color: $white;
          font-size: 13px;
          margin-bottom: 3px;
          margin-top: 0;
        }
        .role {
          @include theme-font("regular");
          color: $magenta-light;
          font-size: 13px;
          margin-bottom: 0;
          margin-top: 3px;
        }
      }
      .review {
        @include theme-font("medium");
        color: $light-gray-magenta;
        font-size: 13px;
        line-height: 1.2rem;
        margin-bottom: 0;

        &:before {
          content: open-quote;
        }
        &:after {
          content: close-quote;
        }
      }
    }
  }
}

@media all and (max-device-width: 375px) {
  body {
    flex-direction: column;
  }

  .bg-top-img, .bg-bottom-img {
    img {
      width: 100%;
    }
  }

  .content {
    padding: 7.5% 5%;
    .content-top {
      padding-top: 3rem;
      flex-direction: column;
      padding-bottom: 0;
      .summary {
        width: 100%;
        text-align: center;

        h1 {
          font-size: 32px;
          line-height: 32px;
          margin-bottom: 2rem;
        }

        p {
          font-size: 14px;
          line-height: 25px;
        }
      }

      .ratings {
        margin: 2.5rem 0;
        width: 100%;
        align-items: center;
        .rating-bar {
          flex-direction: column;
          width: 90%;
          margin-bottom: 1rem;
          .stars {
            margin-bottom: 1rem;
          }
        }
      }

    }

    .content-bottom {
      grid-template-areas: "colton" "irene" "anne";
      padding-top: 0;
      padding-bottom: 2.5rem;
      row-gap: 1rem;
    }
  }
}
