@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
/* *  *  *  *
 *  Colors  *
 * *  *  *  */
/* *  *  *  *
 *  Fonts   *
 * *  *  *  */
.bg-top-img {
  position: fixed;
  top: 0;
  left: 0;
}

.bg-bottom-img {
  position: fixed;
  bottom: 0;
  right: 0;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
}

.content {
  padding: 7.5% 10%;
  display: block;
  /* TOP CONTENT */
  /* BOTTOM CONTENT */
}
.content .content-top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 2rem 0;
}
.content .content-top .summary {
  width: 50%;
  flex: 0.75;
  box-sizing: border-box;
  text-align: left;
  font-family: "Spartan", sans-serif;
}
.content .content-top .summary h1 {
  margin: 0 0 5% 0;
  color: #502050;
  font-size: 40px;
}
.content .content-top .summary p {
  margin: 0;
  color: #937b92;
  font-size: 14px;
  line-height: 1.5rem;
}
.content .content-top .content-top-filler {
  flex: 0.2;
}
.content .content-top .ratings {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex: 1 1 0;
}
.content .content-top .ratings .rating-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.5% 0;
  padding: 4% 5%;
  border-radius: 5px;
  background-color: #f7f2f7;
  z-index: 2;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #502050;
  font-size: 13px;
  width: 70%;
}
.content .content-top .ratings .rating-bar img {
  margin-right: 5px;
}
.content .content-top .ratings .rating-bar img:nth-of-type(5) {
  margin-right: 1.5rem;
}
.content .content-top .ratings div:nth-of-type(1) {
  transform: translateX(-20%);
}
.content .content-top .ratings div:nth-of-type(2) {
  transform: translateX(-10%);
}
.content .content-bottom {
  outline: 3px solid blueviolet;
  display: flex;
  flex-direction: row;
  height: 50%;
  padding: 2rem;
}